<!DOCTYPE HTML>
<html>
  
  <%- include("../partials/header.ejs") %>
<body>
  
  <%- include("../partials/nav.ejs") %>
<p>Nawa o, what are you even doing</p>
</body
  
  <%- include("../partials/footer.ejs") %>
</html>