<!DOCTYPE HTML>
<html>
  
  <%- include("../partials/header.ejs") %>
<body>
  
  <%- include("../partials/nav.ejs") %>
<div class = 'create-blog'>
<form>
  <label for='title'>Blog Title:</label>
  <input type:'text' id='title' required>
  <label for='snippet'>Blog Snippet</label>
  <input type:'text' id='snippet' required>
  <label for='body'>Blog Body</label>
  <textarea type:'text' id='body' required></textarea>
  <li>
  <button>Submit</button></li>
  </div>
</form>
<body>
<p>Nawa o, what are you even doing</p>

  
  <%- include("../partials/footer.ejs") %>
  </body>
</html>